.coverPhoto{
    border-radius: 16px;
    width: 150px;
    height: 220px;
    box-shadow:  5px 5px 0px #d5d5d5,
                -3px -3px 0px #f1f1f1;
    img{
        object-fit: cover;
        border-radius: inherit;
    }
}